go 1.25.5

use (
./cmd/morphir
./pkg/bindings/golang
./pkg/bindings/morphir-elm
./pkg/bindings/typemap
./pkg/bindings/wit
./pkg/config
./pkg/docling-doc
./pkg/logging
./pkg/models
./pkg/nbformat
./pkg/pipeline
./pkg/sdk
./pkg/task
./pkg/toolchain
./pkg/tooling
./pkg/vfs
./tests/bdd
)
